<div class="container mt-4">
  <div class="text-center mb-4">
    <h1><%= @project.title %></h1>
    <p class="text-muted">
      por <%= link_to "@#{@user.username}", public_profile_path(username: @user.username) %>
    </p>
  </div>

  <% if @project.image.attached? %>
    <div class="text-center mb-4">
      <%= image_tag @project.image, class: "img-fluid rounded" %>
    </div>
  <% end %>

  <div class="card p-4">
    <p><%= simple_format(@project.description) %></p>
  </div>
</div>
